/* color palette from <https://github.com/vuejs/theme> */
:root {
  --color-primary: #79cba1;
  --color-primary-lighter: #8eeabb;
  --color-primary-darker: #64aa86;

  --color-bg: #e5e4e8;
  --color-text: #19191b;
  --color-secondary: #2b2b2b;

  --header-height: 56px;
}

*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  position: relative;
  font-weight: normal;
}

li {
  list-style-type: none;
}

body {
  color: var(--color-text);
  background: var(--color-bg);
  transition: color 0.5s, background-color 0.5s;
  line-height: 1.6;
  font-family: 'Oswald', sans-serif;
  font-size: 16px;
  font-weight: 400;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
